   
{% extends "base.html" %}
{% block content %}
    <div class="row">
        <article class="col-8 lh-lg fs-5 mb-3">

            <div id="myCarousel" class="carousel slide mb-5" data-bs-ride="carousel" data-interval="10">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                        aria-label="surf"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="4x4"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="family"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='images/music1.jpeg') }}">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 class="text-dark"></h1>

                        </div>

                    </div>
                </div>

                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/music2.jpeg') }}">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 class="text-light"></h1>



                        </div>
                    </div>
                </div>

                <div class="carousel-item">

                    <img src="{{ url_for('static', filename='images/music3.jpeg') }} ">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 class="text-light"></h1>

                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
            <h1>Index Page</h1>
            <p>
                music, art concerned with combining vocal or instrumental sounds for beauty of form or emotional expression, usually according to cultural standards of rhythm, melody, and, in most Western music, harmony. Both the simple folk song and the complex electronic composition belong to the same activity, music
            </p>
        </article>
        {% if current_user.is_authenticated == false %}
            <aside class="col-4">
                <h2>Login</h2>
                <form action="{{ url_for('auth.login') }}" method=post>
                    <dl>
                        {{ form.csrf_token }}
                        {{ render_field(form.email) }}
                        {{ render_field(form.password) }}
                    </dl>
                    <p><input class="btn btn-primary btn-md" type=submit value=Login>
                </form>
            </aside>
        {% endif %}

    </div>
{% endblock %}
</article>